<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
    <style>

        .weather {
            display: inline-block;
            border: 1px solid #d9d9d9;
            width: 115px;
            height: 250px;
            text-align: center;
            font-family: arial;
            margin: 1px;
            padding: 10pt;
        }

        .img {
            width: 105px;
            height: 120px
        }

        .weather:hover {
            box-shadow: 2px 2px 5px 2px rgba(33, 33, 33, .2);
        }

        .background {
            height: 250px;
            width: 100%;
            align-content: center;
        }


        .predict {
            text-align: center;
            color: #fc0202;
            font-size: 22px;
        }

        .predictContent {
            margin-left: 150px;
        }

        .h1 {
            color: rgb(119, 119, 241);
            font-size: 18px;
        }

    </style>
</head>
<body>

<img class="background" th:src="@{/resources/background.PNG}"/>


<div class="predictContent">


    <th:block th:each="predict : ${predicts}">
        <div class="weather">

            <img class="img" th:if="${predict.getWeather()==T(org.batsunov.enums.Weather).RAINY}"
                 th:src="@{/resources/rainy.PNG}">
            <img class="img" th:if="${predict.getWeather()==T(org.batsunov.enums.Weather).CLOUDY}"
                 th:src="@{/resources/cloudy.PNG}">
            <img class="img" th:if="${predict.getWeather()==T(org.batsunov.enums.Weather).SNOWY}"
                 th:src="@{/resources/snowy.PNG}">
            <img class="img" th:if="${predict.getWeather()==T(org.batsunov.enums.Weather).SUNNY}"
                 th:src="@{/resources/sunny.PNG}">

            <p class="h1">
            <p th:text="${predict.getDate().getDayOfWeek()}"></p>

            <p class="predict" th:text="${predict.getTemperature()}"></p>
        </div>
    </th:block>


</div>
</body>
